name: Continuous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: mysecretpassword
          POSTGRES_DB: forumapi_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies, migrate test DB, and run tests
        run: |
          npm install
          npm run migrate:test up
          npm test
        env:
          CI: true
          DB_CONFIG_FILE: ./config/database/test.json

          # HTTP Server
          HOST: localhost
          PORT: 5000

          # DB Test Environments (override from your .env)
          PGHOST_TEST: localhost
          PGUSER_TEST: postgres
          PGDATABASE_TEST: forumapi_test
          PGPASSWORD_TEST: mysecretpassword
          PGPORT_TEST: 5432

          # Token
          ACCESS_TOKEN_KEY: secret
          REFRESH_TOKEN_KEY: secret2
          ACCESS_TOKEN_AGE: 3000
